---
interface Props {
    width : number;
    height : number;
    borderRadius : number;
    background : string;
    boxShadow1 ?: number;
    boxShadow2 ?: number;
    boxShadow3 ?: number;
    boxShadow4 ?: number;
    boxShadowRGBA : string;
    backdropFilter: any;
    border: string;
    rutaDestino : string;
    titulo : string;
    rutaImagen : string;
    altImagen: string;
}

const {width, height, borderRadius, background, boxShadow1, boxShadow2,boxShadow3,boxShadow4, boxShadowRGBA,
backdropFilter, border,rutaDestino, titulo, rutaImagen, altImagen} = Astro.props;
---
<a href={rutaDestino} style={{
    display: 'flex',
    justifyContent: 'space-between',
    alignItems: 'center',
    width: `${width}px`,
    height: `${height}px`,
    borderRadius: `${borderRadius}px`,
    background: background,
    boxShadow: `${boxShadow1}px ${boxShadow2}px ${boxShadow3}px ${boxShadow4}px ${boxShadowRGBA}`,
    backdropFilter: `blur(${backdropFilter}px)`,
    border: `${border}px solid rgba(255, 255, 255, 0.18)`,
    textDecoration: 'none',
    boxSizing: 'border-box', // Asegura que el tama침o total del bot칩n sea el especificado
}}>
    <img src={rutaImagen} alt={altImagen} style={{
        maxWidth: '100%',
        maxHeight: '100%',
        width: '23%', // Ajusta el ancho autom치ticamente
        height: 'auto', // Ajusta la altura autom치ticamente
        flexGrow: 0, // Evita que la imagen se expanda para llenar el espacio
        flexShrink: 0, // Evita que la imagen se encoja
        marginLeft : '10px'
    }} />
    <span style={{ 
        color: 'white', 
        padding: '10px',
        marginRight: '20px',
        fontSize : '20px',
        fontWeight: 'bold',
        marginTop: '2px' }}>{titulo}</span>
</a>

  







</style>