---
interface Props { //Valores para 
    height: number;
    width: number;
    backgroundRGBA: string;
    boxShadow1 ?: number;
    boxShadow2 ?: number;
    boxShadow3 ?: number;
    boxShadow4 ?: number;
    boxShadowRGBA ?: number;
    backdropFilter : number;
    borderRadius: number;
    borderPix : number;
    borderState ?: string;
    borderRGBA : string; 
    icono : string;
    titulo : string;
    descripcion: any;
    imagen: string;
    altIcono : string;
    altImagen : string;
}
const {height, width,backgroundRGBA, boxShadow1, boxShadow2,boxShadow3,boxShadow4,boxShadowRGBA, backdropFilter,
    borderRadius,borderPix, borderState,borderRGBA,icono,titulo,descripcion,imagen, altIcono, altImagen} = Astro.props;
---

<section style={{
    height: `${height}px`,
    width: `${width}px`,
    background: `${backgroundRGBA}`, // Cambiado de backgroundRGBA a background
    boxShadow: `${boxShadow1}px ${boxShadow2}px ${boxShadow3}px ${boxShadow4}px rgba(${boxShadowRGBA})`, // Ajustado el formato de la sombra
    borderRadius: `${borderRadius}px`,
    border: `${borderPix}px ${borderState || ''} ${borderRGBA}`, // Si no hay borderState, se usa una cadena vacía
    backdropFilter: `blur(${backdropFilter}px)`,

    boxShadow1 : `${boxShadow1}`,
    boxShadow2 : `${boxShadow2}`,
    boxShadow3 : `${boxShadow3}`,
    boxShadow4 : `${boxShadow4}`,
    boxShadowRGBA : `${boxShadowRGBA}`,  
    borderPix: `${borderPix}px`,
    borderState: `${borderState}`,
    borderRGBA: `${borderRGBA}`,
   

}}>
    <div id="Icono_titulo">
        <img src={icono} alt={altIcono}>
        <h3>{titulo}</h3>
    </div>
    <div id="divDescripcion">
        <p>{descripcion}</p>
        <img src={imagen} alt={altImagen}>
    </div> 
</section>

<style lang="scss">
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.02, 1.02, 1.02);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

// Estilos para la sección
section {
  margin: 20px;
  animation: pulse 2s ease infinite;
}

// Estilos para el contenedor de icono y título
#Icono_titulo {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;

  img {
    max-height: 100%;
    width: 40px;
    margin-left: 10px;
  }

  h3 {
    font-size: 22px;
    margin-left: 2px;
    margin-left: 10px;
  }
}

// Estilos para el contenedor de descripción
#divDescripcion {
  width: 100%;
  height: 85%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    max-width: 100%;
    width: 70%;
    margin-top: 10px;
  }
}
</style>
